<div class="banner" fxFlex>
    <h1>Welcome to Sun Travel Agency</h1>
    <h2>The Sunny Side of Life</h2>
    <div class="dugmici" fxFlex fxLayoutGap="55px">
        <button id="myButton" mat-raised-button color="accent" routerLink="/login"><span class="material-symbols-outlined">
            login
        </span>Login</button>
        <button id="myButton" mat-raised-button color="accent" routerLink="/signup"><i class="material-symbols-outlined">
            person
        </i>SignUp</button>
    </div>
</div>